<form action="">
    <div class="mb-3">
        <label for="firstNameControl" class="form-label">First Name</label>
        <input type="input" class="form-control" id="firstNameControl" placeholder="First Name">
    </div>
    <div class="mb-3">
        <label for="middleNameControl" class="form-label">Middle Name</label>
        <input type="input" class="form-control" id="middleNameControl" placeholder="Middle Name">
    </div>
    <div class="mb-3">
        <label for="lastNameControl" class="form-label">Last Name</label>
        <input type="input" class="form-control" id="lastNameControl" placeholder="Last Name">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="phoneControl" class="form-label">Phone</label>
        <input type="input" class="form-control" id="phoneControl" placeholder="Phone Number">
    </div>
    <div class="mb-3">
        <label for="ageControl" class="form-label">Age</label>
        <input type="input" class="form-control" id="ageControl" placeholder="Age">
    </div>
    <div class="mb-3">
        <label for="postcodeControl" class="form-label">Postcode</label>
        <input type="input" class="form-control" id="postcodeControl" placeholder="Postcode">
    </div>
    <div class="mb-3">
        <label for="descriptionControlTextarea1" class="form-label">Description</label>
        <textarea class="form-control" id="descriptionControlTextarea1" rows="3"></textarea>
    </div>
    <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="xs">XS</option>
        <option value="s">S</option>
        <option value="m">M</option>
        <option value="l">L</option>
        <option value="xl">XL</option>
        <option value="xxl">XXL</option>
    </select>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="whiteRadio" checked>
        <label class="form-check-label" for="whiteRadio">
            White
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="blackRadio">
        <label class="form-check-label" for="blackRadio">
            Black
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="orangeRadio">
        <label class="form-check-label" for="orangeRadio">
            Orange
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="blueRadio">
        <label class="form-check-label" for="blueRadio">
            Blue
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="redRadio">
        <label class="form-check-label" for="redRadio">
            Red
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="acceptCondition">
        <label class="form-check-label" for="acceptCondition">
            Accept condition
        </label>
    </div>
    
    <section>
        <button></button>
        <button></button>
    </section>
</form>